.price-title {
  margin-bottom: .3rem;
}

.price-radio-container {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.label-container {
  display: flex;
  gap: .3rem;
  align-items: center;
}